@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary font-text h-full w-full;
  }
  h1 {
    @apply text-xl font-heading font-black md:text-3xl;
  }
  h2 {
    @apply font-heading font-black text-xl md:text-2xl;
  }
  h3 {
    @apply font-text font-bold text-base md:text-lg;
  }
  h4 {
    @apply font-heading text-xs md:text-lg;
  }
  h5 {
    @apply font-text text-xs md:text-base;
  }
  hr {
    @apply border-primary mt-1 my-4;
  }
  button {
    @apply bg-primary hover:bg-yellow-400 rounded border-black border-2 px-2 py-1 my-1 font-bold cursor-pointer;
  }
  input {
    @apply rounded border-black border-2 px-2 py-1 my-1;
  }
  hr {
    @apply bg-black h-1;
  }
}
@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    /* border-radius: 100vh 100vh 0 0; */
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    background: #eab308;
    border-radius: 100vh;
    border: solid #000;
    border-right: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ea9f08;
  }
}

.container-parent {
  @apply absolute bottom-0 w-full px-2 md:px-16;
}
.container-base {
  @apply relative bg-secondary p-8 rounded-xl rounded-b-none border-4 border-b-0 border-black overscroll-contain overflow-auto h-[85vh];
}
.container-login {
  @apply h-[90vh];
}
.nav-parent {
  @apply px-2 md:px-20 mt-5 flex flex-row justify-between items-center content-center w-full;
}
.nav-parent h1 {
  @apply font-black text-5xl content-end;
}
.login-page {
  @apply grid grid-cols-2;
}
.img-login {
  @apply place-self-end;
}
.img-login img {
  @apply w-[50vw] max-w-none;
}
.form-login {
  @apply bg-secondary px-10 rounded-xl rounded-b-none border-4 border-b-0 border-black overscroll-contain overflow-auto h-full flex flex-col justify-center;
}
.btn-google {
  @apply self-center mt-5;
}
.img-user {
  @apply h-20 w-20 bg-secondary rounded-full border-black border-4;
}
.main-menu {
  @apply flex flex-row items-center flex-wrap justify-evenly h-full;
}
.level-menu {
  @apply bg-primary w-80 h-52 border-2 border-black px-8 pt-10 rounded-lg text-center m-4;
  box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
}
.btn-shadow {
  @apply uppercase font-black;
  box-shadow: 5px 5px 0px 2px rgba(0, 0, 0, 1);
}
.main-dialogue {
  @apply px-1 mt-4;
}
.dialogue-table {
  @apply bg-white w-full p-4 rounded-md border-black border-2;
}
.dialogue-record {
  @apply w-full py-4 bg-white border-black border-2 text-center rounded-md;
}
.dialogue-result {
  @apply w-full py-4 bg-primary border-black border-2 text-center rounded-md -mt-2;
}
